.aboutPage {
  position: relative;
  min-height: 100vh;
}

.aboutHeader {
  color: white;
}

.footerLogo {
  background-image: url("../../../assets/MERNwallpaper.jpeg");
  background-repeat: none;
  background-size: contain;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
