.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("../../../assets/travelmap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner > h1,
h3 {
  color: #cad8de;
}
.vacay-input {
  width: 50%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  justify-content:center;
  color: rgb(222, 175, 95);
}
